/* Debug */

.debug .container{
    background-color: aqua;
    height: 50px;
}

.debug .type{
    background-color: yellow;
    height: 40px;
    width: 20%;
}

.debug .logo{
    background-color: orchid;
    height: 40px;
    width: 60%;
}

.debug .tool{
    background-color: indianred;
    height: 40px;
    width: 20%;
}

.debug #site_main .container{
    background-color: blue;
    height: 1000px;
}

.debug .col-32{
    height: 30rem;
    background-color: bisque;
}

.debug .boolean{
    background-color: darkseagreen;
    width: 30%;
    height: 30px;
}
.debug .social{
    background-color: fuchsia;
    width: 30%;
    height: 30px;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
}

:root {
    --booleando-header: #ff6900;
    --booleando-red: #ff0000;
    --booleando-green: #008000;
    --booleando-footer: #1a1a1a;
    --booleando-black: black;
    --booleando-white: white;
}

/* Utility */


.col-32{
    width: 32%;
    margin-bottom: 2rem;
} 

.flex_wrap{
    flex-wrap: wrap;
}

.container{
    width: 80%;
    margin: auto;
    max-width: 1152px;
}

.d-flex{
    display: flex;
}

.space_between{
    justify-content: space-between;
}

.align_items_center{
    align-items: center;
}

.pos_relative{
    position: relative;
}

[class^='item']{
    height: 500px;
    background-size: cover;
    background-position: center;
}

/* Header */

#site_header{
    background-color: #ff6900;
    padding: 0.5rem 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 1px 2px 5px lightslategray;
}

.logo img{
    height: 2rem;
}

#site_header a{
    color: var(--booleando-white);
    text-decoration: none;
}

.tool a{
    padding-left: 0.5rem;
}

.type a{
    padding-right: 0.5rem;
}

#site_main h3{
    text-transform: uppercase;
}

/* Main */

#site_main{
    margin-top: 6rem;
}

.item1{
    background-image: url('../img/1.webp');
}

.item2{
    background-image: url('../img/2.webp');
}

.heart{
    position: absolute;
    top: 0.5rem;
    right: 0;
    height: 2rem;
    width: 2rem;
    text-align: center;
    background-color: var(--booleando-white);
    line-height: 2rem;
    vertical-align: middle;
}
.info_item{
    position: absolute;
    bottom: 2rem;
    left: 0;
}
.discount{
    padding: 0.25rem 0.5rem;
    font-size: small;
    background-color: var(--booleando-red);
    color: var(--booleando-white);
    margin-right: 0.25rem;
}

.sostenibilità{
    padding: 0.25rem 0.5rem;
    font-size: small;
    background-color: var(--booleando-green);
    color: var(--booleando-white);
}

.brand{
    font-weight: 200;
}

.discount_price{
    color: var(--booleando-red);
}

.full_price{
    text-decoration:line-through;
}

[class^='item']:hover .heart{    
    color: var(--booleando-red);
}
/* Footer */

#site_footer{
    background-color: var(--booleando-footer);
}



/* .item1:hover .item1{    
    background-image: none;
} */


